@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg>path {
    stroke: var(--primary);
  }

  body {
    font-feature-settings: "rlig"1, "calt"1;
  }
  
  html,
  body,
  #root {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}